<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <form action="" method="post">
    <div class="form-group">
      <label for="email">Your Email</label>
      <input
        type="email"
        class="form-control"
        id="cemail"
        placeholder="Enter your Email"
        name="email"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Your Password</label>
      <input
        type="password"
        class="form-control"
        id="pass"
        placeholder="Enter your Password"
        name="passwd"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</body>
</html>
